%html
  %head
    %title 
      Project-management
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header
      .w840
        %img#mini_logo{src: image_path('teta.png')}
        .w360
          = link_to 'Проекты', projects_path
        #enter
          - if user_signed_in?
            %span Здравствуйте, 
            %b  
              = current_user.email
            = link_to 'Выйти', destroy_user_session_path, :method => :delete 
          - else
            = link_to 'Войти', new_user_session_path  
            или 
            = link_to 'Зарегистрироваться', new_user_registration_path
    = yield
    .footer
      .w840
        %img#mini_logo{src: image_path('teta.png')}
        .center_block
          Разработано командой 
          %b "Тета".
          %br
          Участники: 
          %b Власов Сергей, Талалаев Михаил и Верхогляд Светлана. 
          %br
          Все права защишены 2015.


